doctype html
html
  head
    title marre-webstart
    meta(charset='utf-8')
    link(href='css/style.css', rel='stylesheet')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='js/functions.js')

//- run this file with "pug -w -P index.pug"
    if you use browser-sync, browser-sync start --server --files "css/*.css"
